autopep8==1.5.4
colorama==0.4.4
commonmark==0.9.1
deprecation==2.1.0
filetype==1.0.7
flake8==3.8.4
mccabe==0.6.1
mutagen==1.45.1
packaging==20.4
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.2
pyparsing==2.4.7
PyQt5-sip==12.8.1
rich==9.1.0
rope==0.18.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
toml==0.10.1
typing-extensions==3.7.4.3
vext==0.7.4
vext.pyqt5==0.7.4
